doctype html
html
  head
    title Page-2
    style.
      .fieldset-auto-width {
      display: inline-block;
      }
      input[type = text]{
      width: 50%;
      padding: 12px 10px;
      margin: 15px 0;
      box-sizing: border-box;
      }
      body{
      background-color:#2b2b2b;
      color: white;
      }
      h2{
      display: none;
      }
  body
    h1(align='center') Lets Solve Some Riddles
    form
      center
        div(style='width: 500px;')
          fieldset#divi.class=''
            legend(align='center') Riddle-1
            p
            center
              label What has to be broken before you can use it?
              br
              input#myText(type='text')
            p
            p(align='center')
              button(onclick='myFunction1()' type='button')
                | Submit
            h2#divi1 new
            p
      center
        div(style='width: 500px;')
          fieldset.class=''
            legend(align='center') Riddle-2
            p
            center
              label What is full of holes but still holds water?
              input#myText(type='text')
            p
            p(align='center')
              button(onclick='myFunction2()' type='button')
                | Submit
            h2#divi2 new
            p
    script.
      function myFunction1() {
      var x = document.getElementById("divi1");
      var y = document.getElementById("divi2");
      if (x.style.display === "none") {
      x.style.display = "block";
      } else {
      x.style.display = "none";
      }
      }
      function myFunction2() {
      var x = document.getElementById("divi1");
      var y = document.getElementById("divi2");
      if (y.style.display === "none") {
      x.style.display = "block";
      } else {
      y.style.display = "none";
      }
      }